:root {
	--green: #052505;
	--muted: #ccc;
	--purple: #83b;
	--red: #f66;
}

#add-volunteer-first-name, 
#add-volunteer-last-name, 
#add-volunteer-email, 
#add-volunteer-cancel, 
#new-volunteer-title,
#register,
#invalid-email,
#camera-button-before-non-ios,
#camera-button-after-non-ios,
#camera,
#photo-library {
	display: none;
}

body {
	background: var(--green);
	background-image: url('/images/tools.png');
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	margin: 1em 1em 20em 1em;
}

.rceb-logo {
	display: block;
	width: 100%;
	max-width: 300px;
	height: auto;
}

h1 {
	font-size: 1.5em;
	line-height: .95;
	text-transform: uppercase;
}

.explanation {
	margin-top: -.5em;
	margin-bottom: 1em;
	font-size: 0.9em;
}

.field, fieldset {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.required::after {
	content:" *";
	color: var(--red);
	display: inline;
	font-weight: bold;
}

.muted {
	color: var(--muted);
	font-size: .9rem;
}

input, 
li, 
textarea, 
.choice, 
.wide-button,
select {
	box-sizing: border-box;
	display: block;
	width: 100%;
	font: inherit;
	color: black;
	min-height: 2em;
}

input {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

input[type="text"],
textarea {
	padding: .7em .7em;
}

textarea {
	min-height: 5em;
	margin-top: 0.3em;
	resize: vertical;
}

.dropdown {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dropdown li {
	background: white;
	padding:1em;
	border-bottom: 1px solid var(--muted);
}

.dropdown:hover li:hover {
	background: #eee;
}

.invalid {
	font-size: 0.9em;
	color: var(--red);
}

.choice-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.2rem;
}

.choice {
	display: flex;
	align-items: center;
	padding: .6em;
	background: white;
	color: black;
	cursor: pointer;
}

.choice input {
	width: 2em;
	height: 2em;
	margin: 0 1em 0 0;
	accent-color: var(--green);
}

fieldset {
	border: 0;
	padding: 0;
	margin-inline: 0;
	min-width: 0;
}

legend {
	padding: 0;
	margin-bottom: 0.3em;
}

.wide-button {
	margin: 0.5em 0 0 0;
	padding: 0.7em;
	font: inherit;
	font-weight: bold;
	background: var(--purple);
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.field-title {font-weight: bold}

.wide-button:disabled {
	filter: brightness(85%);
	cursor: default;
	pointer-events: none;
}

select {
	margin-top: 0.3em;
	padding: 0.7em;
	font-weight: bold;
}

.choice {
	font-weight: bold;
}

.thumbnails {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
	margin-top: 1em;
}

.thumbnails img {
	display: block;
	justify-items: flex;
	margin-top: 1em;
	width: 110px;
	height: 110px;
	border: 1px solid white;
}

.thumbnails > div {
	position: relative;
}

.thumbnails button {
	position: absolute;
	margin-top: 0.5em;
	top: -6px;
	right: -6px;
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid white;
	border-radius: 50%;
	background: black;
	color: white;
	font: 24px Arial, sans-serif;
	text-align: center;
	cursor: pointer;
}

#before-thumbnails, #after-thumbnails {
	margin-top: 0;
}

/*stolen from codepen*/

#loading-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

.lds-hourglass {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 6px;
	box-sizing: border-box;
	border: 26px solid #333;
	border-color: var(--purple) transparent var(--purple) transparent;
	animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}